.login{
    margin-top: 10% !important;
    justify-items: center !important;
}

.correo{
margin: 3% !important;
justify-self: center !important;
justify-items: center !important;
justify-content: center !important;
input{
    width: 400px !important;
}
}
